<div class="swap-container">
  <h3>Trade tokens for Ether</h3>
  <form>

    <mat-form-field appearance="outline">
      <mat-label>Select token</mat-label>
      <mat-select (ngModelChange)="tokenChange($event)" [(ngModel)]="token" name="token">

        <mat-select-trigger>
          <img class="select" src="{{token?.icon}}" alt="{{token?.name}} icon">
          <span style="margin-left: 3rem; margin-right: 1rem">{{token?.name}}</span>
          <span style="font-family: monospace, monospace;">{{token?.address}}</span>
        </mat-select-trigger>

        <mat-option *ngFor="let _token of tokens" [value]="_token">
          <img class="option" src="{{_token.icon}}" alt="{{_token.name}} icon">
          <span style="margin-right: 1rem">{{_token.name}}</span>
          <span style="font-family: monospace, monospace;">{{_token.address}}</span>
        </mat-option>

      </mat-select>
    </mat-form-field>

    <div class="info" *ngIf="token?.name">
      <p class="token-balance" [class.loading]="!balance">Your {{token.name}} balance: {{balance}}</p>
      <button *ngIf="balance" mat-button (click)="tradeAmount = balance; amountChange(balance)">Max</button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Trade amount</mat-label>
      <input autocomplete="off" pattern="^[0-9]*[.,]?[0-9]*$" matInput [(ngModel)]="tradeAmount" name="tradeAmount"
        (ngModelChange)="amountChange($event)"
        placeholder="0.0">
    </mat-form-field>
    <p style="color: #ffcc80" *ngIf="!tradeAmountValid">Please enter a valid number.</p>
    <p style="color: #ffcc80" *ngIf="tooMuch">Amount exceeds balance.</p>

    <div class="info" *ngIf="tradeAmountActual">
      <p class="token-balance" [class.loading]="!expectedOutput">You will receive approximately {{expectedOutput}} <span
          *ngIf="expectedOutput">ETH (~{{cost}} ETH fee)</span></p>
    </div>

    <div style="display: flex; flex-direction: row-reverse;">
      <button mat-flat-button color="primary" (click)="sign()" [disabled]="sending || mining">Sign & Send</button>
    </div>
    <br>
    <br>
    <p *ngIf="sending || mining" [class.loading]="sending || mining">Sending transaction(s)</p>
    <a style="color: white" target="_blank" *ngFor="let tx of allTx; let i = index" href="{{allTx[i]}}">{{allTx[i]}}</a>
    <p *ngIf="minedTx" style="text-align: center;">
      Transaction mined successfully!
      <a style="color: #90caf9" target="_blank" *ngIf="minedTx" href="{{minedTx}}">{{minedTx}}</a>
    </p>
  </form>
</div>
