<section>
  <h2>Gasless</h2>
  <p>Gasless allows you to make Ethereum transactions with no starting gas.</p>
  <p>The upfront gas cost is paid for.</p>
  <p>A fee is deducted to pay for the usage.</p>
  <br>
  <br>
  <p>This is made possible by Infura's ITX service.</p>
  <br>
  <br>
  <p>Contract address: <a style="color:#ffcc80"
      href="https://rinkeby.etherscan.io/address/0x215a5a84df05120132bac290bcab929e53d67fb4">0x215a5a84df05120132bac290bcab929e53d67fb4</a>
  </p>
  <p>UI & backend: <a style="color: #90caf9" href="https://github.com/gasperbr/gasless">github.com/gasperbr/gasless</a>
  </p>
  <p>Contract: <a style="color: #90caf9"
      href="https://github.com/gasperbr/gasless-contract">github.com/gasperbr/gasless-contract</a></p>
</section>
